body {
    background-color: #e1b8a4;
}

h1 {
    margin: 0;
    text-align: center;
    font-family: Mali;
    font-size: 50px;
    color: #fff;
}

canvas {
    display: block;
    margin: 5px auto;
}

select {
    display: block;
    margin: 0 auto;

    font-size: 15px;
    font-family: Mali;

    padding: 5px 5px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    text-align: left;
    border-width: 2px;
    border-radius: 5px;
}